CONFIG PART = xc7k70t-fbg484-1;

NET "sys_clk" LOC = V19;
NET "sys_clk" IOSTANDARD = LVCMOS33;
NET "sys_clk" TNM = "tnm_main_clk_group";
TIMESPEC ts_clk = PERIOD "tnm_main_clk_group" 10 ns HIGH 50 %;

NET "rst" TIG;
NET "rst" NODELAY = "TRUE";
NET "rst" LOC = U22;
NET "rst" IOSTANDARD = LVCMOS33;
NET "rst" PULLUP;

#NET             "uart_rx"      LOC = U21 | IOSTANDARD = LVCMOS33;
NET "exp_4" LOC = T21;
NET "exp_4" IOSTANDARD = LVCMOS33;
NET "exp_5" LOC = T18;
NET "exp_5" IOSTANDARD = LVCMOS33;


