#Rules for Nysa     ###########################################################
KERNEL=="nysa_pcie[0-9]", ACTION=="add", OWNER="root", GROUP="plugdev", MODE="660"
#End RUle #####################################################################

